<div class="combobox">
  <input placeholder="Selecione um item da norma" #itemfield
    (focus)="onShowAutoCompleteToggle(true)"
    (focusout)="onShowAutoCompleteToggle(false)"
    (keyup)="onFilterResults(itemfield.value)"
    type="text">
  <button (click)="onClearField()" mat-button>
    <mat-icon>close</mat-icon>
  </button>
  <div *ngIf="showAutoComplete" class="auto-complete">
    <app-item-tree *ngFor="let root of filteredTreeItems" [values]="[root]" [tab]="false" (selectedItem)="onClickedItem($event)"></app-item-tree>
  </div>
</div>
<h1>Teste</h1>